.pagination-container {
  max-width: 600px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 2px solid  rgb(31, 107, 107);
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  color: white;
  background-color: rgb(31, 107, 107);
  text-align: left;
}

tr {
  background-color: #f2f2f2;
}

button {
  background-color: rgb(31, 107, 107);
  color: white;
  border: none;
  padding: 3px 10px;
  cursor: pointer;
  align-items: center;
}

.pagination-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-buttons button {
  margin: 0 5px;
}

.pagination-buttons span {
  margin: 5px 10px;
}

.currentPage {
  display: inline-block;
  padding: 2px 8px;
  background-color: rgb(31, 107, 107);
  margin: 0 10px;
  color: white;
}

.heading {
  text-align: center;
}

.th.left-align {
  text-align: left;
}
